# Introduction to Data Science - 22KDL
## Lab01: Python fundamentals:

## Preliminaries
Taking user input from the keyboard in Python:

In [ ]:
# Execute this cell and then type your name inside the box
name = input("Please enter your name: ")
print(name)

Please enter your name: Khoi
Khoi

*Note* that everything from the user's keyboard input will be considered as a string. If you want to input an integer (same as float, etc), let's use `int()` to convert it into a correspoinding data type.

## Exercises

### Variable Exercises:
**Q1:** Write a program that asks the user for their name and age, then prints out a message that says "Hello `[name]`, you are `[age]` years old!"
Write a program that takes a user input number and prints out whether the number is odd or even.

In [ ]:
# Your code starts here
name = input("Please enter your name: ")
print(name)
age = input("Please enter your age: ")
print(age)
print(f"Hello {name}, you are {age} years old!")

Please enter your name: Khoi
Khoi
Please enter your age: 21
21
Hello Khoi, you are 21 years old!


**Q2:** Write a program that takes a user input number and prints out whether the number is odd or even.

In [ ]:
# Your code starts here
number=int(input("Please enter your number: "))
if number%2==0:
  print("The number is even")
else:
  print("The number is odd")

Please enter your number: 30
The number is even

### Loop Exercises:
**Q3:** Write a program that prints out the numbers from 1 to 10 using a for loop.

In [ ]:
# Your code starts from here
for i in range(0,10):
  print(i+1)

1
2
3
4
5
6
7
8
9
10

**Q4:** Write a program that asks the user to input a number, then prints out all the even numbers between 0 and the user input number using a while loop.

In [ ]:
# Your code starts from here
isEven=lambda x: x%2==0  # function to check whether number is even or odd
number=int(input("Please enter your number: "))
if number<0:
  print("can not excute")
else:
  i=0
  while i<number:
    if isEven(i):
      print(i)
    i=i+1

Please enter your number: 15
0
2
4
6
8
10
12
14

### List Exercises:
**Q5:** Write a program that takes the last 5 elements of a list `numbers`

In [ ]:
numbers = [5, 1, 7, 7, 8, 10, -2, 6, 8, 9, -5, 11, 20]

# Your code starts from here:
numbers[-5:]

[8, 9, -5, 11, 20]

**Q6:** Write a program that takes a list of `numbers` from 1 to 10 and returns a new list containing only the even numbers. (Recommend to use list comprehension)

In [ ]:
numbers = [i+1 for i in range(0,10)]
even_numbers = [i  for i in numbers if isEven(i)]
print(even_numbers)

[2, 4, 6, 8, 10]

### Dictionary Exercises:
**Q7:** Write a program that takes a dictionary of names and ages and returns a new dictionary containing only the names of people who are over 18 years old.

In [ ]:
name_to_age = {'John': 19,
                'Tom': 15,
                'James': 30,
                'Danny': 18,
                'Lisa': 19,
                'Rose': 17,
                'Jisoo': 16,
                'Jennie': 20}

# Your code starts from here
new_name_to_age={name:age for name,age in name_to_age.items() if age >18} # comprehension for dictionary
print(new_name_to_age)

{'John': 19, 'James': 30, 'Lisa': 19, 'Jennie': 20}

### Function Exercises:
**Q8:** Write a function `calc_sum()` that takes a list of numbers `nums` as input and returns the sum of the numbers.

In [ ]:
def calc_sum(nums):
    pass
    # Your code starts from here
    return sum(nums)
    # Your code ends here

nums = [5, 3, -2, 4, -1]
calc_sum(nums)

9

**Q9:** Write a function that takes a string as input and returns a dictionary containing the frequency of each character in the string.

In [ ]:
def count_char_freq(input_string):
    pass
    # Your code starts from here
    return {i:input_string.count(i) for i in set(input_string)}
    # Your code ends here

string = "abcaccdefeef"
char_freq = count_char_freq(string)
print(char_freq)

{'e': 3, 'c': 3, 'b': 1, 'f': 2, 'd': 1, 'a': 2}

### Pandas Exercises:
Let's use dataset available at https://www.kaggle.com/datasets/shivamb/netflix-shows to complete the following exercises:

**Q10:** Load a CSV file `netflix_titles.csv` into a pandas DataFrame and print out the first 10 rows.

In [ ]:
# Your code starts from here
import pandas as pd
data_path='netflix_titles.csv'
df=pd.read_csv(data_path)
df.head(10)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...
5,s6,TV Show,Midnight Mass,Mike Flanagan,"Kate Siegel, Zach Gilford, Hamish Linklater, H...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"TV Dramas, TV Horror, TV Mysteries",The arrival of a charismatic young priest brin...
6,s7,Movie,My Little Pony: A New Generation,"Robert Cullen, José Luis Ucha","Vanessa Hudgens, Kimiko Glenn, James Marsden, ...",NaN,"September 24, 2021",2021,PG,91 min,Children & Family Movies,Equestria's divided. But a bright-eyed hero be...
7,s8,Movie,Sankofa,Haile Gerima,"Kofi Ghanaba, Oyafunmike Ogunlano, Alexandra D...","United States, Ghana, Burkina Faso, United Kin...","September 24, 2021",1993,TV-MA,125 min,"Dramas, Independent Movies, International Movies","On a photo shoot in Ghana, an American model s..."
8,s9,TV Show,The Great British Baking Show,Andy Devonshire,"Mel Giedroyc, Sue Perkins, Mary Berry, Paul Ho...",United Kingdom,"September 24, 2021",2021,TV-14,9 Seasons,"British TV Shows, Reality TV",A talented batch of amateur bakers face off in...
9,s10,Movie,The Starling,Theodore Melfi,"Melissa McCarthy, Chris O'Dowd, Kevin Kline, T...",United States,"September 24, 2021",2021,PG-13,104 min,"Comedies, Dramas",A woman adjusting to life after a loss contend...

**Q11:** Show movies that were released between 2016 and 2020 (i.e, including 2016 and 2020). *Hint: you might be interested in `release_year`.

In [ ]:
# Your code starts from here
df['title'][(df['release_year']>=2016) & (df['release_year']<=2020)]

0                                    Dick Johnson Is Dead
16      Europe's Most Dangerous Man: Otto Skorzeny in ...
17                                        Falsa identidad
21                                 Resurrection: Ertugrul
32                                          Sex Education
                              ...
8787                            You Can’t Fight Christmas
8794                                               اشتباك
8796                                           Yunus Emre
8797                                            Zak Storm
8803                                          Zombie Dumb
Name: title, Length: 5064, dtype: object